.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-right: 32px;
    background-color: white;
    box-shadow: 8px 8px 4px #b1b1b1fe;
    transition: all 0.5s ease-in-out;
    border-radius: 8px;
    cursor: pointer;

    &:hover{
        transform: scale(105%);
    }
}

.cardWrapper{
    width: 198px;
    height: 280px;
}

.cardButton{
    text-align: center;
    padding: 16px 8px;
    font-family: Nunito;
    font-weight: 600;
    font-size: 16px;
    border: solid 1.5px black;
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 60%;

    &:hover{
        background-color: #89C747;
        color: white;
    }
}