.heroCardWrapper {
    cursor: pointer;
    padding: 24px 64px;
    background-color: #FFF996;
    border: solid 4px #1E1E1E;
    box-shadow: 8px 8px 0px #454545;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.7s ease-in-out;

    h2 {
        font-family: Bamba;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        text-align: center;
        color: #1E1E1E;
        margin-top: 8px;
    }

    svg{
        fill: #D21987;
    }

    &:hover{
        background-color: #D21987;
        box-shadow: 16px 16px 0px #454545;
        h2{
            color: #FFFBDF;
        }
        svg{
            fill: #FFFBDF;
        }
    }

    @media (max-width: 1000px) {
        padding: 24px 40px;

        h2{
            font-size: 20px;
        }

        svg{
            width: 40px;
            height: 40px;
        }
    }
    @media (max-width: 769px) {
        padding: 16px 32px;

        h2{
            font-size: 20px;
        }

        svg{
            width: 40px;
            height: 40px;
        }
    }
    @media (max-width: 648px) {
        padding: 16px 32px;
        width: 30%;
        margin-bottom: 24px;

        h2{
            font-size: 20px;
        }

        svg{
            width: 40px;
            height: 40px;
        }
    }
    @media (max-width: 426px) {
        padding: 24px 32px;
        width: 80%;
        margin-bottom: 24px;

        h2{
            font-size: 20px;
        }

        svg{
            width: 48px;
            height: 48px;
        }
    }
}