.pageContainer{
    background-color: #FFF996;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    @media (max-width: 476px) {
        padding-top: 0px; 
    }
}

.videoPlayerWrapper{
    display: flex;
    padding: 48px 72px;

    @media (max-width: 1025px) {
        padding: 48px 24px;
    }
    @media (max-width: 689px) {
        flex-direction: column;
    }
    @media (max-width: 476px) {
        padding: 48px 16px; 
    }
}

// .rightSideWrapper{
//     height: 548px;

//     @media (max-width: 1025px) {
        
//     }
// }

.suggestedVideosWrapper{
    position: relative;
    width: 100%;
    background: #B0C3FF;
    overflow-y: scroll;
    height: 30%;

    @media (max-width: 1025px) {
        overflow-y: hidden;
        overflow-x: scroll;
        height: 20%;
    }

    @media (max-width: 689px) {
        overflow-y: hidden;
        overflow-x: scroll;
        height: 240px;
    }
}

.suggestedVideos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    @media (max-width: 689px) {
        flex-direction: row; 
    }    
}

.suggestedVideo{
    width: 200px;
    cursor: pointer;

    &:hover{
        .video{
            border: solid #ff6363 8px;
            background-color: #ff6363;
        }

        .suggestedVideoTitle{
            background-color: #ff6363;
            color: white;
        }
    }

    &:focus{
        .video{
            border: solid #ff6363 8px;
        }

        .suggestedVideoTitle{
            background-color: #ff6363;
            color: white;
        }                
    }

    @media (max-width: 476px) {
        flex-wrap: wrap;
        flex-direction: row;
        height: 320px;
        width: 240px;
        margin-right: 8px; 
    }
}

.video{
    width: 100%;
    height: 100px;
    background-color: white;
    border: solid white 8px;
    margin-top: 20px;

    @media (max-width: 476px) {
        margin-top: 12px;
    }
}

.suggestedVideoTitle{
    width: 100%;
    padding: 6px;
    font-family: Bamba;
    background: white;
}

.titleContainer{
    position: sticky;
    top: 0;
    z-index: 0;
    padding: 24px 26px;
    background-color: #0259AA;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    font-size: 24px;
    font-family: nunito;
    font-weight: 800;

    @media (max-width: 476px){
        justify-content: flex-start;
    }
}