.pageWrapper{
    overflow-x: hidden;
    background-color: #FFF996;
}

.pageContent{
    padding-top: 48px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.loadMoreWrapper{
    position: relative;
    display: flex;
    padding-top: 48px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
    margin-top: 48px;
}