.componentWrapper{
    width: 70%;
}

.playerHeader{
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #0259AA;
    padding: 2px;
    padding-left: 16px;
    border-radius: 8px 0px 0px 0px
}

.buttonWrapper{
    width: 80px;
    height: 60px;
    background-image: url("../../../../public/icons/backButton.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    transition: all ease-in-out 0.5s;

    &:hover{
        transform: translateY(-10%);
        z-index: 0;
    }
}

.videoTitleGroup{
    margin-left: 32px;

    h1{
        font-size: 24px;
        font-family: Nunito;
        color: white;
        line-height: 0;
        margin-bottom: 30px;
        margin-top: 20px;
    }

    h2{
        font-size: 16px;
        font-family: Nunito;
        color: white;
        line-height: 0;
    }
}

.playerWrapper{
  background-color: #003e77;
    // width: 100%;

    
}

.videoControls{
    display: flex;
    justify-content: space-between;
    background-color: #0259AA;
    padding-bottom: 16px;
}

.playbackControls{
    display: flex;
}

.playerSizeControls{
    display: flex;
}