.pageWrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;

    @media (max-width: 769px) {
        flex-wrap: wrap;       
    }

    @media (max-width: 426px) {
        flex-direction: column;        
    }
}
