.page{
    background-color: #FFF996;
    overflow-x: hidden;
}

.pageWrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    height: 65vh;
    overflow-x: hidden;
    overflow-y: hidden;

    @media (max-width: 769px) {
        flex-wrap: wrap;       
    }

    @media (max-width: 426px) {
        flex-direction: column;        
    }
}

.footer{
    margin-top: 48px;
    max-width: 100%;
}
