.page{
    overflow-x: hidden;
    background-color: #FFF996;
    height: 100vh;
}

.navigationHeader{
    background-color: #FFF66B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 132px;
    padding-top: 24px;
    padding-bottom: 0px;

    @media (max-width: 426px) {
        padding-top: 72px;
        padding-left: 16px;        
    }
}

.backbutton{
    width: 80px;
    height: 60px;
    background-image: url("../../../../public/icons/back.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    transition: all ease-in-out 0.5s;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-top: 10px;
    font: Nunito;
    font-weight: 700;
    color: white;

    &:hover{
        transform: translateX(-15%);
        cursor: pointer;
    }

    @media (max-width: 376px) {
        transform: scale(70%);
        
        &:hover{
            transform: scale(70%) translateX(-15%);
        }
    }
}

.contentTitle{
    font-size: 16px;
    text-align: center;
    font-family: Bamba;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;

    @media (max-width: 376px) {
        font-size: 12px;       
    }
}