.buttonWrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-right: 104px;
    padding: 24px 16px;
    background-color: #89C747;
    border-bottom: 10px solid #079C00;
    text-decoration: none;
    height: 48px;
    width: fit-content;
    transition: all 0.2s ease-in-out;

    &:hover {
        margin-top: 14px;
        border-bottom-width: 8px;
    }

    @media (max-width: 1601px) {                            
    }
}

.active {
    background-color: #D21987;
    border-bottom: 12px solid #B30058;

    &:hover {
        border-bottom: solid 6px #B30058;
    }
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 16px;
    background: #E6ECFF;
    margin-top: 8px;
    border-bottom: 8px solid #B0C3FF;
    border-radius: 20px;
    height: 32px;
    width: 200px;
    transition: all 0.2s ease-in-out;
    border-right: none;
    border-left: none;
    border-top: none;
    cursor: pointer;

    &:hover {
        border-bottom-width: 8px;
        margin-top: 14px;
    }
}

.btnText{
    text-align: center;
    font-size: 20px;
    text-rendering: optimizelegibility;
    font-family: Nunito;
    font-weight: 900;
    color: #FFFBDF;
}

.btnTextSearch{
    text-align: center;
    font-size: 20px;
    text-rendering: optimizelegibility;
    font-family: Nunito;
    font-weight: 900;
    color: #000000;
}

.iconWrapper{
    width: 32px; 
    height: 32px;
    margin-right: 8px; 
}