.buttonWrapper {
    padding: 16px 16px 20px;
    background-color: #89C747;
    margin-top: 8px;
    border-bottom: 12px solid #079C00;
    text-decoration: none;
    height: 32px;
    width: fit-content;
    text-align: center;
    font-size: 32px;
    text-rendering: optimizelegibility;
    font-family: Nunito;
    font-weight: 900;
    color: #FFFBDF;
    transition: all 0.2s ease-in-out;

    &:hover {
        border-bottom-width: 8px;
        margin-top: 14px;
    }
}

.active {
    background-color: #D21987;
    border-bottom: 12px solid #B30058;

    &:hover {
        border-bottom: solid 6px #B30058;
    }
}


.search{
    padding: 16px 16px 20px;
    background-color: #FFFFFF;
    margin-top: 8px;
    border-bottom: 12px solid #FFFBDF;
    border-radius: 32px;
    text-decoration: none;
    height: 32px;
    width: fit-content;
    text-align: center;
    font-size: 24px;
    text-rendering: optimizelegibility;
    font-family: Nunito;
    font-weight: 900;
    color: #000000;

    &:hover {
        border-bottom-width: 8px;
        margin-top: 14px;
    }
}