.navWrapper{
    position: relative;
    width: 100vw;
    height: 80px;
    background-color: #F6DB34;
    padding: 8px 320px 2px;

    @media (max-width: 1601px) {
        padding: 8px 132px 2px;                
    }
    @media (max-width: 1401px) {
        padding: 8px 108px 2px;                
    }
    @media (max-width: 1026px) {
        padding: 8px 56px 2px;                
    }
}

.navItems{
    display: flex;
    justify-content: space-between;
}

.navItemsLeft{
    display: flex;
    justify-content: space-around;
}

.navItemsCenter{
    border: 6px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    right: 50%;
    top: 40%;
    width: 80px;
    height: 80px;
}

.navItemsRight{
    display: flex;
    justify-content: space-between;
}

