.videoWrapper {
    position: relative;
    border: solid 6px #D21987;
    background-color: #D21987;
    border-radius: 8px;
    margin-top: 24px;
    margin-right: 0px;
    width: fit-content;
    height: fit-content;
    z-index: 0;
    cursor: pointer;

    &:hover {
        .playIconWrapper {
            visibility: visible;
            bottom: 50%;
        }
    }
}

.thumbnail {
    width: fit-content;
    height: fit-content;
    height: 200px;
    width: 200px;
    background-size: contain;

    @media (max-width: 426px) {
        height: 160px;
        width: 160px;
    }
    @media (max-width: 376px) {
        width: 150px;
        height: 150px;
    }
}

.descriptionBox {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px;
    font-family: Bamba;
    font-size: 20px;

    @media (max-width: 426px) {
        font-size: 16px;
    }
}

.playIconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    bottom: 40%;
    left: 35%;
    width: 72px;
    height: 72px;
    visibility: hidden;
    transition: all 0.5s ease-in-out;

    @media (max-width: 376px) {
        width: 56px;
        height: 56px;
    }
}

.playIcon {}